body {
    font-family: 'lato', sans-serif;
}

.cabecalho-principal {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 92px;
}

.cabecalho-sneak {
    margin: 0 80px;
}

.cabecalho-nav {
    display: flex;
    list-style: none;
}

.cabecalho-nav-link {
    padding: 10px;
    text-decoration: none;
}

.input-carrinho {
    display: flex;
}

input {
    margin: 0 10px;
    border-radius: 50px;
    background-color: #F2F2F2;
}

.img-carrinho-compras {
    border-radius: 50px;
    background-color: #F2F2F2;
}



    